
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.DS_Store
coverage/
logs/
*.log
tmp/
build/
/.vscode/
/.idea/
/.next/
/.nuxt/
/.parcel-cache/
/.eslintcache
/.pnp/
/.pnp.js
public/
